@media all and (min-width: 480px) {
    .Friends {
        padding: 60px 0;
        display: flex;
    }

    .Sidebar {
    }

    .Container {
        display: flex;
        flex-direction: row;
    }
}


