@media all and (min-width: 480px) {
    .Profile {
        padding: 60px 0;
        display: flex;
    }

    .Profile form {
        margin: 0 auto;
        width: 400px;
    }

    .Container {
        display: flex;
        flex-direction: row;
    }
}


