@media all and (min-width: 480px) {
    .Profile {
        padding: 60px 0;
        display: flex;
    }

    .Profile form {
        margin: 0 auto;
        width: 400px;
    }

    .Sidebar {
        max-width: 200px;
        padding-top: 30px;
    }

    .Container {
        display: flex;
        flex-direction: row;
    }

    .btn-container {
        display: flex;
        flex-direction: row;
        margin: auto 0;
    }
}


