@media all and (min-width: 480px) {
    .Report {
        padding: 60px 0;
        display: flex;
    }

    .Sidebar {
    }

    .Container {
        display: flex;
        flex-direction: row;
    }

    .custom-select {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        box-shadow: 0 1px 0 1px rgba(0,0,0, 0.1);
        padding: 8px 32px 8px 16px;
    }
}


